@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


@font-face {
  font-family: 'engravers'; 
  src: url('../fonts/EngraversGothicBT.ttf')
  format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body{
  
}
/*-------------------------------- navbar inicio ------------------------------------------*/

body {
	padding: 0;
	margin: 0;
}
.container {
	position: relative;
	margin-top: 10px;
}
.container img {
	display: block;
	
}

.logok2{
  width: 80px;
  opacity: 0.2;
}

nav {
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 100px;
	background-color: #00000052;
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 60%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
  transition: .3s;
	text-decoration: none;
}



nav .links a:hover {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
  transition: .3s;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
@media screen and (max-width: 768px) {
	nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}
	
}

/*-------------------------------- navbar fim ------------------------------------------*/

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.parallax{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.parallax__text{
    width: 350px;
    margin-top: 200px;
    margin-left: -570px;
}







/*-------------------------------- SCROLL-REVEAL ------------------------------------------*/

.reveal{
    position: relative;
    transform: translateX(350px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


/*-------------------------------- SCROLL-REVEAL ------------------------------------------*/
.overflow{
    height: 600px;
}


/*-------------------------------- BUTTON, MOUSE AND SOCIALS ------------------------------------------*/

.home__scroll-button{
    color: #a6005c;
    margin-top: 450px;
    margin-left: -150px;
    display: none;
}
  
  .home__scroll-button:hover{
    transform: translateY(.25rem);
    color: white;
    transition: .5s ease-in-out;
  }
  
  .home__scroll-mouse{
    font-size: 2rem;
  }
  
  
  
  .home__scroll-arrow{
    font-size: 1.25rem;
  }


  .home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    margin-top: 220px;
  
  }
  
  .home__social-icon{
    font-size: 1.5rem;
    color: #a6005c;
    margin-left: -620px;
    width: 20px;
    transition: .5s;
  }
  
  .home__social-icon:hover{
    color: #e086b6;
    transition: .5s;
  }



  .reveal_social{
    position: relative;
    transform: translateX(100px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal_social.active{
    transform: translateY(0px);
    opacity: 1;
}


@media screen and (min-width: 200px) and (max-width: 568px){

    .hero{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }
    
    .parallax{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    
    .parallax__text{
        width: 250px;
        margin-top: 50px;
        margin-left: 10px;
    }

    .home__social{
        display: inline-flex;
        margin-top: 350px;
      
      }
      
      .home__social-icon{
        font-size: 1.25rem;
        color: #a6005c;
        margin-left: -100px;
        width: 20px;
      }
      
      .home__social-icon:hover{
        color: #ffffff;
      }

}




@media screen and (min-width: 568px) and (max-width: 768px){


    .hero{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }
    
    .parallax{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    
    .parallax__text{
        width: 350px;
        margin-top: 200px;
        margin-left: 10px;
    }

    .home__social{
        display: grid;
        grid-template-columns: max-content;
        row-gap: 1rem;
        margin-top: 220px;
      
      }
      
      .home__social-icon{
        font-size: 1.25rem;
        color: #a6005c;
        margin-left: -410px;
        width: 20px;
      }
      
      .home__social-icon:hover{
        color: #ffffff;
      }
}





@media screen and (min-width: 768px) and (max-width: 1024px){
    .hero{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }
    
    .parallax{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    
    .parallax__text{
        width: 350px;
        margin-top: 200px;
        margin-left: -200px;
    }

    .home__social{
        display: grid;
        grid-template-columns: max-content;
        row-gap: 1rem;
        margin-top: 220px;
      
      }
      
      .home__social-icon{
        font-size: 1.25rem;
        color: #a6005c;
        margin-left: -410px;
        width: 20px;
      }
      
      .home__social-icon:hover{
        color: #ffffff;
      }

    
}




.reveal_content{
  position: relative;
  transform: translateY(55px);
  opacity: 0;
  transition: all 1s ease;
  overflow: hidden;
}

.reveal_content.active{
  transform: translateY(0px);
  opacity: 1;
}





/*_____________________________________________SOBRE_____________________________________________*/
.page{
  width: 100%;
}

.page__title{
  font-family: 'engravers';
  font-weight: 200;
}

.sobre__painel-gray{
  width: 100%;
  height: 170vh;
  background-color: #ebebed;
}
.grid{
  display: inline-block;
}

.sobre__painel-texto{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: auto;
  font-family: 'engravers';
}

.sobre__painel-title{
  
  font-size: 25px;
}

.sobre__painel-subtitle{
  font-size: 15px;
}
.sobre__painel-img{
  background-color: white;
  width: 40%;
}
.sobre-img{
  
  height: 65vh;
}


/*__________________________________________________________________________________________*/

.img-rouded{
  box-shadow: 3px 4px 5px rgba(165, 143, 132, 0.479);
}



.artigos__ajuste{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.rounded{
  max-width: 205px;
  margin-left: auto;
  margin-right: auto;
}



.footer{
  display: inline-flex;
  background-color: #ebebed;
  font-family: 'engravers';
  width: 100%;
  height: 300px;
}


.footer__text,
.footer__links,
.footer__socials,
.footer__social{
  color: black;
  list-style: none;
  text-decoration: none;
}


.footer__socials{
  margin-top: -50px;
  font-size: 20px;
  margin-right: 170px;
}


.footer__links{
  margin-top: -80px;
}

.footer__link{
  font-size: 12px;
  font-weight: 500;
  line-height: 3;
  color: black;
  margin-right: 30px;
  text-decoration: none;
}

.footer__title{
  font-size: 25px;
  font-weight: 700;
  margin-top: -100px;
 
  
}

.footer__img-mini{
  width: 200px;
}

.footer__img-mini{
  width: 100px;
}

.footer__subtitle{
  
  font-size: 15px;
}

.container-lb{
  max-width: 708px;
}

.portfolio__container{
  overflow: initial;
}

.portfolio__content{
  padding: 0.5rem;
}

.portfolio__img{
  width: 250px;
  border-radius: .5rem;
}


.title--h2{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.portfolio__title{
  
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.portfolio__description{
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 768px) and (max-width: 768px){
  
}



@media screen and (min-width: 1024px) and (max-width: 1024px){
  


  
}

@media screen and (min-width: 300px){

  

  .thumb__mg{
    padding: 20px;
}
  

.artigos__ajuste{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.rounded{
  max-width: 215px;
  margin-left: auto;
  margin-right: auto;
}
  
  .section__title{
    margin-left: 100px;
  }

  
  
  .title--h2{
    font-family: 'engravers';
  }
  
  .sections__subtitle{
    margin-left: 75px;
  }

  .footer{
    background-color: #ebebed;
    font-family: 'engravers';
    width: 100%;
    height: 330px;
  }

  .footer__img{
    max-width: 200px;
    opacity: 0.1;
    margin-top: 40px;
    margin-left: 5px;
  }

  .portfolio__title{
    font-size: 30px;
    margin-left: 25px;
  }

  .portfolio__subtitle{
    font-size: 20px;
    
  }


  .footer{
    display: inline-flex;
    background-color: #ebebed;
    font-family: 'engravers';
    width: 100%;
    height: 200px;
  }
  

  
  .footer__img-mini{
    width: 110px;
  }
  
  .footer__text,
  .footer__links,
  .footer__socials,
  .footer__social{
    color: black;
    list-style: none;
    text-decoration: none;
  }
  
  
  .footer__socials{
    margin-top: -50px;
    font-size: 20px;
    margin-right: 250px;
  }
  
  
  .footer__links{
    margin-top: -80px;
  }
  
  .footer__link{
    font-size: 12px;
    font-weight: 500;
    line-height: 3;
    color: black;
    margin-right: 50px;
    text-decoration: none;
  }
  
  .footer__title{
    font-size: 25px;
    font-weight: 700;
    margin-top: -100px;
   
    
  }
  
  
  .footer__subtitle{
    
    font-size: 15px;
  }


  .page{
    width: 100%;
  }
  
  .page__title{
    font-family: 'engravers';
    font-weight: 200;
  }
  
  .sobre__painel-gray{
    width: 100%;
    height: 370px;
    background-color: transparent;
    
  }
  .grid{
    display: inline-block;
  }
  
  .sobre__painel-texto{
    width: 97%;
    height: 350px;
    
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'engravers';
    background-color: #ebebed;
    line-height: 1.2;
  }
  
  .sobre__painel-title{
    
    font-size: 25px;
  }
  
  .sobre__painel-subtitle{
    
    font-size: 10px;
  }
  .sobre__painel-img{
    background-color: white;
    width: 100%;
  }
  .sobre-img{
    
    margin-left: 30px;
    margin-right: auto;
    
  }
 

  

  
}


@media screen and (min-width: 371px){
  
  
  .rounded{
    max-width: 285px;
    margin-left: auto;
    margin-right: auto;
  }
}


@media screen and (min-width: 568px){

  .footer{
    background-color: #ebebed;
    font-family: 'engravers';
    width: 100%;
    height: 330px;
  }

  .footer__img{
    max-width: 400px;
    opacity: 0.1;
    margin-left: 165px;
  }

  .portfolio__img{
    width: 420px;
    
}

.portfolio__content{
    grid-template-columns: repeat(1, 1fr);
}


.portfolio__title{
  font-size: 30px;
  margin-left: 120px;
}

.title--h2{
  max-width: 80%;
  margin-left: 75px;
  margin-right: auto;
}

.portfolio__subtitle{
 
  font-size: 20px;
  
}

.footer{
  display: inline-flex;
  background-color: #ebebed;
  font-family: 'engravers';
  width: 100%;
  height: 300px;
}


.footer__text,
.footer__links,
.footer__socials,
.footer__social{
  color: black;
  list-style: none;
  text-decoration: none;
}


.footer__socials{
  margin-top: -50px;
  font-size: 20px;
  margin-right: 100px;
}


.footer__links{
  margin-top: -80px;
}

.footer__link{
  font-size: 15px;
  font-weight: 500;
  line-height: 3;
  color: black;
  margin-right: 120px;
  text-decoration: none;
}

.footer__title{
  font-size: 45px;
  font-weight: 700;
  margin-top: -100px;
  margin-left: 10px;
  
}


.footer__subtitle{
  margin-left: 15px;
  font-size: 15px;
}

.page{
  width: 100%;
}

.page__title{
  font-family: 'engravers';
  font-weight: 200;
}

.sobre__painel-gray{
  width: 100%;
  height: 480px;
  background-color: #ebebed;
}
.grid{
  display: inline-flex;
}

.artigos__ajuste{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.rounded{
  max-width: 385px;
  margin-left: auto;
  margin-right: auto;
}

.sobre__painel-texto{
  width: 95%;
  height: 480px;
  margin-left: 70px;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'engravers';
}

.sobre__painel-title{
  font-family: 'engravers';
  font-size: 25px;
}

.sobre__painel-subtitle{
  
  font-size: 10px;
}
.sobre__painel-img{
  background-color: white;
  width: 70%;
}
.sobre-img{
  
  margin-left: auto;
  margin-right: auto;
  
}
}


@media screen and (min-width: 665px){

  .footer{
    display: inline-flex;
    background-color: #ebebed;
    font-family: 'engravers';
    width: 100%;
    height: 300px;
  }

  .row{
    flex-direction: column;
    
  }

  
  
  .footer__text,
  .footer__links,
  .footer__socials,
  .footer__social{
    color: black;
    list-style: none;
    text-decoration: none;
  }
  
  
  .footer__socials{
    margin-top: -50px;
    font-size: 25px;
    margin-right: 100px;
  }
  
  
  .footer__links{
    margin-top: -80px;
  }
  
  .footer__link{
    font-size: 20px;
    font-weight: 500;
    line-height: 3;
    color: black;
    margin-right: 100px;
    text-decoration: none;
  }
  
  .footer__title{
    font-size: 75px;
    font-weight: 700;
    margin-top: -100px;
    margin-left: 50px;
    
  }
  
  
  .footer__subtitle{
    margin-left: 50px;
    font-size: 20px;
  }
}


@media screen and (min-width: 768px){

  .portfolio__title{
    font-size: 30px;
    margin-left: 200px;
  }

  .footer{
    background-color: #ebebed;
    font-family: 'engravers';
    width: 100%;
    height: 500px;
  }

  .footer__img{
    max-width: 600px;
    opacity: 0.1;
    margin-left: 165px;
  }

  .portfolio__img{
    width: 420px;
    
}

.portfolio__content{
    grid-template-columns: repeat(1, 1fr);
}

.footer{
  display: inline-flex;
  background-color: #ebebed;
  font-family: 'engravers';
  width: 100%;
  height: 300px;
}


.footer__text,
.footer__links,
.footer__socials,
.footer__social{
  color: black;
  list-style: none;
  text-decoration: none;
}


.footer__socials{
  margin-top: -50px;
  font-size: 25px;
  margin-right: 100px;
}


.footer__links{
  margin-top: -80px;
}

.footer__link{
  font-size: 20px;
  font-weight: 500;
  line-height: 3;
  color: black;
  margin-right: 100px;
  text-decoration: none;
}

.footer__title{
  font-size: 75px;
  font-weight: 700;
  margin-top: -100px;
  margin-left: 50px;
  
}


.footer__subtitle{
  margin-left: 50px;
  font-size: 20px;
}

.footer__img-mini{
  width: 150px;
}

.page{
  width: 100%;
}

.page__title{
  font-family: 'engravers';
  font-weight: 200;
}

.sobre__painel-gray{
  width: 100%;
  height: 430px;
  background-color: #ebebed;
}
.grid{
  display: inline-flex;
}

.artigos__ajuste{
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}

.rounded{
  max-width: 385px;
  margin-left: auto;
  margin-right: auto;
}

.sobre__painel-texto{
  width: 95%;
  height: 370px;
  margin-left: 70px;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'engravers';
}

.sobre__painel-title{
  
  font-size: 30px;
}

.sobre__painel-subtitle{
  
  font-size: 15px;
}
.sobre__painel-img{
  background-color: white;
  width: 70%;
}
.sobre-img{
  
  margin-left: 20px;
  margin-right: auto;
  
}
}






@media screen and (min-width: 1024px){
  

  .artigo__subtitle{
    font-size: 24px;
    font-weight: 600;
    font-family: 'engravers';
  }

  .artigo__title{
    font-size: 17px;
    font-family: 'Josefin Slab';
    font-weight: 500;

  }

  .content-side{
    
    
  }

  .artigos__ajuste{
    width: 350px;
    display: inline-flex;
  }

  .rounded{
    max-width: 325px;
    margin-left: auto;
    margin-right: auto;
  }


  .portfolio__content{
    padding: 2.5rem 8.25rem;
  }

  .home__scroll-button{
    display: block;
    text-decoration: none;
    list-style: none;
    transition: .5s ease;
  }

  .portfolio__img{
    width: 350px;
    border-radius: .5rem;
  }
  
  .title--h2{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio__title{

    color: rgb(0, 0, 0);
    margin-top: 115px;
    font-family: 'engravers';
    font-weight: 500;
    margin-left: 210px;
  }

  .section__title{
    margin-left: 580px;
    font-size: 35px;
  }
  
  
  .sections__subtitle{
    margin-left: 560px;
    font-size: 20px;
  }

  .contato__informacao{
    margin-left: 210px;
  }
  .contato__icon-wz{
    font-size: 50px;
    margin-left: 335px;
  }

  .contato__title-wz{
    margin-left: 25px;
    text-align: center;
  }

  .contato{
    height: 400px;
  }

  .footer{
    display: inline-flex;
    background-color: #ebebed;
    font-family: 'engravers';
    width: 100%;
    height: 300px;
  }


  .footer__text,
  .footer__links,
  .footer__socials,
  .footer__social{
    color: black;
    list-style: none;
    text-decoration: none;
  }


  .footer__socials{
    margin-top: -50px;
    font-size: 25px;
    margin-right: 300px;
  }


  .footer__links{
    margin-top: -80px;
  }

  .footer__link{
    font-size: 20px;
    font-weight: 500;
    line-height: 3;
    color: black;
    margin-right: 350px;
    text-decoration: none;
  }


  .footer__img-mini{
    width: 200px;
  }
  .footer__title{
    
    font-weight: 700;
    margin-top: -100px;
    margin-left: 50px;
  }


  .footer__subtitle{
    margin-left: 50px;
    font-size: 20px;
  }
  .page{
    width: 100%;
  }
  
  .page__title{
    font-family: 'engravers';
    font-weight: 200;
  }
  
  .sobre__painel-gray{
    width: 100%;
    height: 100vh;
    background-color: #ebebed;
  }
  .grid{
    display: inline-flex;
  }
  
  .sobre__painel-texto{
    width: 85%;
    height: 595px;
    margin-left: 150px;
    margin-right: 50px;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'engravers';
    line-height: 1.5;
  }
  
  .sobre__painel-title{
    
    font-size: 35px;
  }
  
  .sobre__painel-subtitle{
    
    font-size: 20px;
  }
  .sobre__painel-img{
    background-color: white;
    width: 85%;
  }
  .sobre-img{
    margin-left: 85px;
    height: 100vh;
  }
  
}



.waze-frame{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.local{
  position: relative;
  top: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  font-family: 'engravers';
}



.section__subtitle{
  margin-bottom: 4rem;

}

.contato__container{
  width: 460px;
  font-family: 'engravers';
}





.contato{
  background-color: #ebebed;
  font-family: 'engravers';
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.637);
}

.contato__informacao a{
  text-decoration: none;
  color: black;
}

/*-------------------------------- WebKit - ScrollBar  ------------------------------------------*/

::-webkit-scrollbar{
    width: .60rem;
    background-color: white;
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #d15fa293;
    border-radius: .5rem;
  }


  body{
    background-color: #ebebed;
  }


  .reveal_painel{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 1.5s ease;
    overflow: hidden;
  }
  
  .reveal_painel.active{
    transform: translateX(0px);
    opacity: 1;
  }


  .parallax__footer{
    background-image: url(/assets/03.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
}

@media screen and (min-width: 300px){

  .parallax__footer{
    padding-bottom: 0;
  }
  
}


.parallax-atuacao{
  background-image: url(/assets/bg-paginas2.jpg);
  background-position: center;
  width: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  color: white;
}


.main-btn{
  background-color: #464646;
  color: white;
  text-transform: uppercase;
  width: 130px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid transparent;
  transition: .5s;
  text-decoration: none;
  font-family: 'engravers';
}

.main-btn:hover{
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: transparent;
  border-color: #464646;
}



#slider {
  width: 50%;
  max-width: 506px;
  height: 25vw;
  max-height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
}

#slider img{
  opacity: 0;

  position: absolute;

  width: 100%;
  height: 100%;

  object-fit: cover;

  transition: opacity 800ms;
}

#slider img.selected { 
  opacity: 1;
}

