@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body{
  font-family: 'Raleway', sans-serif;
}
/*-------------------------------- BUTTON, MOUSE AND SOCIALS ------------------------------------------*/
header {
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 100;
    
    height: 70px;
  }
  
  .toggler {
    display: none;
  }
  
  
  
  .logo {
    display: flex;
    height: 60px;
    width: 60px;
    margin-left: 16px;
    margin-top: 5px;
    cursor: pointer;
  }
  
  nav ul {
    position: fixed;
    width: 100%;
    height: 90vh;
    padding: 16px;
    margin-top: 10vh;
    background: #68686852;
    left: -100%;
    transition: all .5s;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 16px;
    margin-left: 16px;
  }
  
  nav a {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(31, 31, 31, 0.658);
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    transition: ease-in .1s;
  }
  
  nav a:hover {
    color: white;
    transition: ease-in .1s;
  }
  
  .toggler:checked ~ nav ul {
    left: 0;
  }
  
  .burger {
    position: absolute;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 4px rgb(31, 31, 31);
    top: 0;
    right: 0;
    margin-right: 16px;
    height: 100%;
    display: flex;
    align-items: center;
    
  }
  
  .toggler:checked ~ nav a {
    opacity: 1;
  }
  
  
  /* Desktop Screen Format */
  
  @media screen and (min-width: 800px) {
    .burger {
      display: none;
    }
  
    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(700px, 34fr);
    }
  
    nav {
      
      display: flex;
      grid-column: 3/4;
      justify-content: flex-start;
      align-items: center;
    }
  
    nav ul {
      all: unset;
      list-style: none;
      display: flex;
      
    }
  
    nav li {
      margin-bottom: 0;
      margin-right: 10px;
      
    }
  
    nav a {
      opacity: 1;
    }
  
  }


  @media screen and (min-width: 1024px){
      header{
        background-color: rgba(255, 255, 255, 0);
        
      }
      
  }



/*-------------------------------- PARALLAX ------------------------------------------*/

.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.parallax{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.parallax__text{
    width: 350px;
    margin-top: 200px;
    margin-left: -570px;
}







/*-------------------------------- SCROLL-REVEAL ------------------------------------------*/

.reveal{
    position: relative;
    transform: translateX(350px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}


/*-------------------------------- SCROLL-REVEAL ------------------------------------------*/
.overflow{
    height: 600px;
}


/*-------------------------------- BUTTON, MOUSE AND SOCIALS ------------------------------------------*/

.home__scroll-button{
    color: #a6005c;
    margin-top: 450px;
    margin-left: -150px;
    display: none;
}
  
  .home__scroll-button:hover{
    transform: translateY(.25rem);
    color: white;
    transition: .5s ease-in-out;
  }
  
  .home__scroll-mouse{
    font-size: 2rem;
  }
  
  
  
  .home__scroll-arrow{
    font-size: 1.25rem;
  }


  .home__social{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
    margin-top: 220px;
  
  }
  
  .home__social-icon{
    font-size: 1.5rem;
    color: #a6005c;
    margin-left: -620px;
    width: 20px;
    transition: .5s;
  }
  
  .home__social-icon:hover{
    color: #e086b6;
    transition: .5s;
  }



  .reveal_social{
    position: relative;
    transform: translateX(100px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal_social.active{
    transform: translateY(0px);
    opacity: 1;
}


@media screen and (min-width: 200px) and (max-width: 568px){

    .hero{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }
    
    .parallax{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    
    .parallax__text{
        width: 250px;
        margin-top: 50px;
        margin-left: 10px;
    }

    .home__social{
        display: inline-flex;
        margin-top: 350px;
      
      }
      
      .home__social-icon{
        font-size: 1.25rem;
        color: #a6005c;
        margin-left: -100px;
        width: 20px;
      }
      
      .home__social-icon:hover{
        color: #ffffff;
      }

}




@media screen and (min-width: 568px) and (max-width: 768px){


    .hero{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }
    
    .parallax{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    
    .parallax__text{
        width: 350px;
        margin-top: 200px;
        margin-left: 10px;
    }

    .home__social{
        display: grid;
        grid-template-columns: max-content;
        row-gap: 1rem;
        margin-top: 220px;
      
      }
      
      .home__social-icon{
        font-size: 1.25rem;
        color: #a6005c;
        margin-left: -410px;
        width: 20px;
      }
      
      .home__social-icon:hover{
        color: #ffffff;
      }
}





@media screen and (min-width: 768px) and (max-width: 1024px){
    .hero{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
    }
    
    .parallax{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    
    .parallax__text{
        width: 350px;
        margin-top: 200px;
        margin-left: -200px;
    }

    .home__social{
        display: grid;
        grid-template-columns: max-content;
        row-gap: 1rem;
        margin-top: 220px;
      
      }
      
      .home__social-icon{
        font-size: 1.25rem;
        color: #a6005c;
        margin-left: -410px;
        width: 20px;
      }
      
      .home__social-icon:hover{
        color: #ffffff;
      }

    
}




.reveal_content{
  position: relative;
  transform: translateY(55px);
  opacity: 0;
  transition: all 1s ease;
  overflow: hidden;
}

.reveal_content.active{
  transform: translateY(0px);
  opacity: 1;
}





/*_____________________________________________SOBRE_____________________________________________*/
.page{
  width: 100%;
}

.page__title{
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.sobre__painel-gray{
  width: 100%;
  height: 120vh;
  background-color: #ebebed;
}
.grid{
  display: inline-block;
}

.sobre__painel-texto{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: auto;
  font-family: 'Josefin Slab';
}

.sobre__painel-title{
  
  font-size: 25px;
}

.sobre__painel-subtitle{
  font-size: 15px;
}
.sobre__painel-img{
  background-color: white;
  width: 40%;
}
.sobre-img{
  margin-left: 10px;
  height: 65vh;
}


/*__________________________________________________________________________________________*/






.footer{
  display: inline-flex;
  background-color: #ebebed;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 300px;
}


.footer__text,
.footer__links,
.footer__socials,
.footer__social{
  color: black;
  list-style: none;
  text-decoration: none;
}


.footer__socials{
  margin-top: -50px;
  font-size: 20px;
  margin-right: 170px;
}


.footer__links{
  margin-top: -80px;
}

.footer__link{
  font-size: 12px;
  font-weight: 500;
  line-height: 3;
  color: black;
  margin-right: 30px;
  text-decoration: none;
}

.footer__title{
  font-size: 25px;
  font-weight: 700;
  margin-top: -100px;
 
  
}


.footer__subtitle{
  
  font-size: 15px;
}

.container-lb{
  max-width: 708px;
}

.portfolio__container{
  overflow: initial;
}

.portfolio__content{
  padding: 0.5rem;
}

.portfolio__img{
  width: 250px;
  border-radius: .5rem;
}


.title--h2{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.portfolio__title{
  
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
}

.portfolio__description{
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 768px) and (max-width: 768px){
  
}



@media screen and (min-width: 1024px) and (max-width: 1024px){
  


  
}

@media screen and (min-width: 300px){

  
  
  .section__title{
    margin-left: 100px;
  }

  
  
  .title--h2{
    font-family: 'Raleway', sans-serif;
  }
  
  .sections__subtitle{
    margin-left: 75px;
  }

  .footer{
    background-color: #ebebed;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 330px;
  }

  .footer__img{
    max-width: 200px;
    opacity: 0.1;
    margin-top: 40px;
    margin-left: 5px;
  }

  .portfolio__title{
    font-size: 30px;
    margin-left: 55px;
  }

  .portfolio__subtitle{
    font-size: 20px;
    
  }


  .footer{
    display: inline-flex;
    background-color: #ebebed;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 300px;
  }
  
  
  .footer__text,
  .footer__links,
  .footer__socials,
  .footer__social{
    color: black;
    list-style: none;
    text-decoration: none;
  }
  
  
  .footer__socials{
    margin-top: -50px;
    font-size: 20px;
    margin-right: 250px;
  }
  
  
  .footer__links{
    margin-top: -80px;
  }
  
  .footer__link{
    font-size: 12px;
    font-weight: 500;
    line-height: 3;
    color: black;
    margin-right: 50px;
    text-decoration: none;
  }
  
  .footer__title{
    font-size: 25px;
    font-weight: 700;
    margin-top: -100px;
   
    
  }
  
  
  .footer__subtitle{
    
    font-size: 15px;
  }


  .page{
    width: 100%;
  }
  
  .page__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
  }
  
  .sobre__painel-gray{
    width: 100%;
    height: 370px;
    background-color: transparent;
    
  }
  .grid{
    display: inline-block;
  }
  
  .sobre__painel-texto{
    width: 100%;
    height: 150px;
    
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Josefin Slab';
    background-color: #ebebed;
    line-height: 1.2;
  }
  
  .sobre__painel-title{
    
    font-size: 25px;
  }
  
  .sobre__painel-subtitle{
    
    font-size: 10px;
  }
  .sobre__painel-img{
    background-color: white;
    width: 100%;
  }
  .sobre-img{
    
    margin-left: 30px;
    margin-right: auto;
    
  }
 

  

  
}

@media screen and (min-width: 568px){

  .footer{
    background-color: #ebebed;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 330px;
  }

  .footer__img{
    max-width: 400px;
    opacity: 0.1;
    margin-left: 165px;
  }

  .portfolio__img{
    width: 420px;
    
}

.portfolio__content{
    grid-template-columns: repeat(1, 1fr);
}


.portfolio__title{
  font-size: 30px;
  margin-left: 120px;
}

.title--h2{
  max-width: 80%;
  margin-left: 75px;
  margin-right: auto;
}

.portfolio__subtitle{
 
  font-size: 20px;
  
}

.footer{
  display: inline-flex;
  background-color: #ebebed;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 300px;
}


.footer__text,
.footer__links,
.footer__socials,
.footer__social{
  color: black;
  list-style: none;
  text-decoration: none;
}


.footer__socials{
  margin-top: -50px;
  font-size: 20px;
  margin-right: 100px;
}


.footer__links{
  margin-top: -80px;
}

.footer__link{
  font-size: 15px;
  font-weight: 500;
  line-height: 3;
  color: black;
  margin-right: 120px;
  text-decoration: none;
}

.footer__title{
  font-size: 45px;
  font-weight: 700;
  margin-top: -100px;
  margin-left: 10px;
  
}


.footer__subtitle{
  margin-left: 15px;
  font-size: 15px;
}

.page{
  width: 100%;
}

.page__title{
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.sobre__painel-gray{
  width: 100%;
  height: 370px;
  background-color: #ebebed;
}
.grid{
  display: inline-flex;
}

.sobre__painel-texto{
  width: 95%;
  margin-left: 70px;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Josefin Slab';
}

.sobre__painel-title{
  
  font-size: 25px;
}

.sobre__painel-subtitle{
  
  font-size: 10px;
}
.sobre__painel-img{
  background-color: white;
  width: 70%;
}
.sobre-img{
  
  margin-left: auto;
  margin-right: auto;
  
}
}


@media screen and (min-width: 665px){

  .footer{
    display: inline-flex;
    background-color: #ebebed;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 300px;
  }
  
  
  .footer__text,
  .footer__links,
  .footer__socials,
  .footer__social{
    color: black;
    list-style: none;
    text-decoration: none;
  }
  
  
  .footer__socials{
    margin-top: -50px;
    font-size: 25px;
    margin-right: 100px;
  }
  
  
  .footer__links{
    margin-top: -80px;
  }
  
  .footer__link{
    font-size: 20px;
    font-weight: 500;
    line-height: 3;
    color: black;
    margin-right: 100px;
    text-decoration: none;
  }
  
  .footer__title{
    font-size: 75px;
    font-weight: 700;
    margin-top: -100px;
    margin-left: 50px;
    
  }
  
  
  .footer__subtitle{
    margin-left: 50px;
    font-size: 20px;
  }
}


@media screen and (min-width: 768px){

  .portfolio__title{
    font-size: 30px;
    margin-left: 200px;
  }

  .footer{
    background-color: #ebebed;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 500px;
  }

  .footer__img{
    max-width: 600px;
    opacity: 0.1;
    margin-left: 165px;
  }

  .portfolio__img{
    width: 420px;
    
}

.portfolio__content{
    grid-template-columns: repeat(1, 1fr);
}

.footer{
  display: inline-flex;
  background-color: #ebebed;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 300px;
}


.footer__text,
.footer__links,
.footer__socials,
.footer__social{
  color: black;
  list-style: none;
  text-decoration: none;
}


.footer__socials{
  margin-top: -50px;
  font-size: 25px;
  margin-right: 100px;
}


.footer__links{
  margin-top: -80px;
}

.footer__link{
  font-size: 20px;
  font-weight: 500;
  line-height: 3;
  color: black;
  margin-right: 100px;
  text-decoration: none;
}

.footer__title{
  font-size: 75px;
  font-weight: 700;
  margin-top: -100px;
  margin-left: 50px;
  
}


.footer__subtitle{
  margin-left: 50px;
  font-size: 20px;
}

.page{
  width: 100%;
}

.page__title{
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

.sobre__painel-gray{
  width: 100%;
  height: 370px;
  background-color: #ebebed;
}
.grid{
  display: inline-flex;
}

.sobre__painel-texto{
  width: 95%;
  margin-left: 70px;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: 'Josefin Slab';
}

.sobre__painel-title{
  
  font-size: 30px;
}

.sobre__painel-subtitle{
  
  font-size: 15px;
}
.sobre__painel-img{
  background-color: white;
  width: 70%;
}
.sobre-img{
  
  margin-left: 20px;
  margin-right: auto;
  
}
}






@media screen and (min-width: 1024px){
  

  .portfolio__content{
    padding: 2.5rem 8.25rem;
  }

  .home__scroll-button{
    display: block;
    text-decoration: none;
    list-style: none;
    transition: .5s ease;
  }

  .portfolio__img{
    width: 350px;
    border-radius: .5rem;
  }
  
  .title--h2{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .portfolio__title{

    color: rgb(0, 0, 0);
    margin-top: 115px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin-left: 230px;
  }

  .section__title{
    margin-left: 580px;
    font-size: 35px;
  }
  
  
  .sections__subtitle{
    margin-left: 560px;
    font-size: 20px;
  }

  .contato__informacao{
    margin-left: 210px;
  }
  .contato__icon-wz{
    font-size: 50px;
    margin-left: 335px;
  }

  .contato__title-wz{
    margin-left: 25px;
    text-align: center;
  }

  .contato{
    height: 400px;
  }

  .footer{
    display: inline-flex;
    background-color: #ebebed;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 300px;
  }


  .footer__text,
  .footer__links,
  .footer__socials,
  .footer__social{
    color: black;
    list-style: none;
    text-decoration: none;
  }


  .footer__socials{
    margin-top: -50px;
    font-size: 25px;
    margin-right: 300px;
  }


  .footer__links{
    margin-top: -80px;
  }

  .footer__link{
    font-size: 20px;
    font-weight: 500;
    line-height: 3;
    color: black;
    margin-right: 350px;
    text-decoration: none;
  }

  .footer__title{
    font-size: 75px;
    font-weight: 700;
    margin-top: -100px;
    margin-left: 50px;
  }


  .footer__subtitle{
    margin-left: 50px;
    font-size: 20px;
  }
  .page{
    width: 100%;
  }
  
  .page__title{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
  }
  
  .sobre__painel-gray{
    width: 100%;
    height: 100vh;
    background-color: #ebebed;
  }
  .grid{
    display: inline-flex;
  }
  
  .sobre__painel-texto{
    width: 85%;
    height: 200px;
    margin-left: 150px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Josefin Slab';
    line-height: 1.5;
  }
  
  .sobre__painel-title{
    
    font-size: 35px;
  }
  
  .sobre__painel-subtitle{
    
    font-size: 20px;
  }
  .sobre__painel-img{
    background-color: white;
    width: 85%;
  }
  .sobre-img{
    margin-left: 85px;
    height: 100vh;
  }
  
}



.waze-frame{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.local{
  position: relative;
  top: 5px;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  font-family: 'Raleway', sans-serif;
}



.section__subtitle{
  margin-bottom: 4rem;

}

.contato__container{
  width: 460px;
  font-family: 'Raleway', sans-serif;
}





.contato{
  background-color: #ebebed;
  font-family: 'Raleway', sans-serif;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.637);
}

.contato__informacao a{
  text-decoration: none;
  color: black;
}

/*-------------------------------- WebKit - ScrollBar  ------------------------------------------*/

::-webkit-scrollbar{
    width: .60rem;
    background-color: white;
    border-radius: .5rem;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #d15fa293;
    border-radius: .5rem;
  }


  body{
    background-color: #ebebed;
  }


  .reveal_painel{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 1.5s ease;
    overflow: hidden;
  }
  
  .reveal_painel.active{
    transform: translateX(0px);
    opacity: 1;
  }


  .parallax__footer{
    background-image: url(/assets/03.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    color: white;
    padding-top: 150px;
    padding-bottom: 150px;
}